outputs/
runs/
data/raw/
*.png
*.jpg
*.jpeg
*.csv
*.mp4
*.mov
*.avi
*.mkv
*.cache
!data/ml/**/*.jpg
!data/ml/*.csv
!data/ml_core/**/*.jpg
!data/ml_core/*.csv
!data/ml_core_grinder/**/*.jpg
!data/ml_core_grinder/*.csv
models/*.pt
*.pyc
__pycache__/
venv/
